@model SistemaTransito.Dominio.Entidades.Vehiculo

@{
    ViewBag.Title = "DetallarVehiculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetallarVehiculo</h2>

<div>
    <h4>Vehiculo</h4>
	<hr />
    @Html.Partial("_InformacionVehiculo", Model)
</div>
<p>
    @Html.ActionLink("Regresar a la lista", "ListarVehiculos")
</p>
