@model IEnumerable<SistemaTransito.Dominio.Entidades.Vehiculo>

@{
    ViewBag.Title = "ListarVehiculos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListarVehiculos</h2>

<p>
    @Html.ActionLink("Crear Nuevo Vehiculo", "GuardarVehiculo")
    @Html.ActionLink("Buscar vehiculos por placa", "BuscarVehiculosPorPlaca")
</p>
<table class="table">
@foreach (var item in Model) {
    @Html.Partial("_InformacionVehiculo", item)
}

</table>
